/* #region common rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --clr-black:#000000;
    --clr-darker:#080B12;
    --clr-dark:#141922;
    --clr-white:#FFFFFF;
    --clr-transparent:#a3a2a2;
    --clr-player:#282828;
}
img{
    max-width: 100%;
    aspect-ratio: 1 / 1;
}
ul{
    list-style: none;
}
h3, .btn, .main-menu{
    font-size: 0.8rem;
}
.logo span{
    font-size: 1.3rem;
}
.sidebar li,.main-nav li, .caption, .playlist span, header .btn, .title-caption, .download-command, h4, h4+div, .song-lenght div:first-child, .song-lenght div:last-child{
    font-size: 0.75rem;
}
/* #endregion common rules */

/* #region layout */
.wrapper{
    height:100vh;
}
.container-top{
    height:calc(100vh - 80px);
}
.player, .container-top .cta{
    height:80px;
}
.content{
    max-width: 1440px;
    width: 100%;
    height:100%;
    overflow-y: auto;
}
/* #endregion layout */

/* #region utilities  */
.d-flex{
    display: flex;
}
.container-sm{
    margin:0 auto;
    width:80%;
}
.col-2{
    width:calc(100% / 12 *2);
}
.col-4{
    width:calc(100% / 12 *4);
}
.text-center{
    text-align: center;
}
.section-space{
    padding:1.5rem 1rem 1rem 1.8rem;
}
.uppercase{
    text-transform: uppercase;
}
/* #endregion utilities  */

/* #region debug */
.debug .main{
    background-color: red;
}
.debug .container-bottom{
    background-color: yellow;
}
.debug .sidebar{
    background-color: blue;
    height:calc(100vh - 100px);
    width:100px;
}
.debug .content{
    height:calc(100vh - 100px);
    background-color: aqua;
    width:calc(100% - 1px);
}
.debug header{
    background-color: green;
    height: 100px;
}
/* #endregion debug */

/* #region sidebar */
.sidebar{
    background-color: var(--clr-black);
    padding: 0 1rem;
    width:200px;
    height:100%;
    flex-direction: column;
    justify-content:space-between;
    color:var(--clr-white);
}
.sidebar-top .logo {
    width: 100px;
}
#logo-small{
    display: none;
}
.sidebar-top .menu img, .sidebar-bottom img{
    width:25px;
}
.sidebar-top .menu li, .sidebar-bottom .d-flex{
    align-items: center;
}
.sidebar-top .menu li > div, .sidebar-bottom .download-command > div, .sidebar-bottom .user-name > div{
    padding-left: 0.5rem;
}
.sidebar-top li{
    padding-bottom:0.7rem
}
.sidebar-top:not(h4), .sidebar-bottom img, .sidebar-bottom .download-command div, .sidebar-bottom{
    color:var(--clr-transparent);
}
.sidebar-top .playlist{
    margin-top:1rem;
}
.add-playlist{
    align-items: center;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}
.add-playlist > div{
    padding-left:0.5rem;
}
.playlist i{
    font-size: 2rem;
}
.sidebar-bottom{
    margin-bottom:0.5rem;
}
.sidebar-bottom hr{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    border:1px solid var(--clr-transparent);
    width:100%;
}
#profile{
    background-color: var(--clr-transparent);
    border-radius: 1rem;
}
#download{
    width:20px;
}
 /* #endregion sidebar */

/* #region content */

.cta{
    background-color: var(--clr-darker);
}
.cta{
    width:100%;
    justify-content: flex-end;
    align-items: center;
}
.btn{
    background-color: var(--clr-black);
    color:var(--clr-white);
    border:1px solid var(--clr-white);
    padding:0.5rem 2rem;
    border-radius: 1.25rem;
    margin-right:1rem;
}

/* #region main */
main{
    background-color: var(--clr-dark);
}
.main-menu ul.d-flex{
    justify-content: center;
    padding: 1rem 0 1rem 0;
    row-gap: 1rem;
    flex-wrap: wrap;
    color:var(--clr-transparent);
}
.main-menu ul.d-flex li{
    padding-right:0.5rem;
    padding-left:0.5rem;
}

section.recently-played h2{
    padding-bottom:1.5rem;
}
.recently-played .col-2{
    padding-right:1rem;
}

.album-description{
    padding-top:0.7rem;
}
.album-description .caption{
    padding-top:0.5rem;
}
/* /. recently-played section */
.created-for-user .title, .most-popular .title{
    padding-bottom:2rem;
}
.created-for-user .title-caption, .most-popular .title-caption{
    padding-top:0.5rem;
}
.created-for-user .col-2, .most-popular .col-2{
    padding-right:1rem;
}
.created-for-user h3, .most-popular h3{
    padding-top:0.8rem;
}
section.most-popular img{
    border-radius: 50%;
}
/* /. created-for-user section, most-popular-section */
/* #endregion main */

/* #endregion content */

/* PLAYER */

 /* #region player */
 div.player{
    background-color: var(--clr-player);
    padding-left: 0.5rem;
    justify-content: space-between;
 }

 .square{
    height:40px;
    width:40px;
    margin-right: 1rem;
 }
 .player-left{
    align-items: center;
 }
 .player-left .player-title{
    margin-right:2rem;
 }
 .fa-heart{
    margin-right:0.5rem;
 }

.player-center{
    color:var(--clr-white);
    font-size: 1rem;
}
.player-command{
    padding-top:0.5rem;
    text-align: center;
}
.player-command i:not(#play){
    padding-right:1rem;
}
#play{
    font-size: 1.5rem;
    padding-right:1.5rem;
    padding-left:0.5rem;
}
.song-lenght div{
    display: inline-block;
}
.song-lenght{
    margin-top:0.5rem;
}
.song-lenght div:first-child{
    padding-right:1rem;
}
.song-lenght div:last-child{
    padding-left:1rem;
}
#player-bar{
    height:6px;
    background-color: var(--clr-transparent);
    width:20vw;
}
.player-right i{
    color: var(--clr-white);
}
.player-right div:last-child{
    height:6px;
    background-color: var(--clr-transparent);
    width:10vw;
    margin-right:0.7rem;
    padding-left:0.7rem;
}
.player-right{
    align-items: center;
}
.player-right i{
    padding-right:0.5rem;
}
 /* #endregion player */



 /* RESPONSIVE */

 @media screen and (max-width:878px) {
    .row.d-flex{
        flex-wrap: wrap;
    }
    .col-md-3{
        width:calc(100% / 12 * 3);
    }
    
 }

 @media screen and (max-width:639px) {
    .col-sm-6{
        width:calc(50%);
    }
    .main-menu .container-sm{
        width:90%;
    }
}

@media screen and (max-width:552px) {
    #logo-big, .sidebar .playlist, .sidebar-top .menu li > div, .sidebar-bottom span, .sidebar-bottom hr, .sidebar-bottom img+div {
        display: none;
    }
    .sidebar{
        width:55px;
    }
    .sidebar .logo{
        width: 100%;
    }
    #logo-small{
        display: block;
        margin-top:1rem;
        margin-bottom:1rem;
    }
    .download-command{
        padding-bottom:0.5rem;
    }
    .user-name{
        padding-top:0.5rem;
    }
}