/* #region common rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --clr-black:#000000;
    --clr-darker:#080B12;
    --clr-dark:#141922;
    --clr-white:#FFFFFF;
    --clr-transparent:#666666;
    --clr-player:#282828;
}

body{
    font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
}
.wrapper{
    height:100vh;
}
.container-top{
    height:calc(100vh - 80px);
}
.container-bottom, .container-top header{
    height:80px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.side-nav-top a, .side-nav-top i, .side-nav-bottom .playlist, .side-nav-bottom li.playlist-name{
    color:var(--clr-transparent);
}
/* #endregion common rules */

/* #region utilities  */
.d-flex{
    display: flex;
}
/* #endregion utilities  */

/* #region debug */
.debug .main{
    background-color: red;
}
.debug .container-bottom{
    background-color: yellow;
}
.debug .sidebar{
    background-color: blue;
    height:calc(100vh - 100px);
    width:100px;
}
.debug .content{
    height:calc(100vh - 100px);
    background-color: aqua;
    width:calc(100% - 1px);
}
.debug header{
    background-color: green;
    height: 100px;
}
/* #endregion debug */

 /* #region sidebar */
.sidebar{
    background-color: var(--clr-black);
    color:var(--clr-white);
    padding: 1.5rem 3rem 0 1.5rem;
    width:220px;
}
.sidebar img{
    width:60px;
}
.sidebar .logo{
   align-items: center;
}
.sidebar .logo span{
    padding-left: 0.5rem;
}
.side-nav-top a{
    padding-left: 0.5rem;
}
.side-nav-top li, .side-nav-bottom li{
    padding-bottom:0.7rem
}
.side-nav-top, .sidebar .logo{
    padding-bottom: 2rem;
}
/* /.side-nav-top */

.playlist{
    align-items: center;
}
.playlist span{
    padding-left: 0.5rem;
}
.playlist i{
    font-size: 2rem;
}
.side-nav-bottom h4{
    padding-bottom:1rem;
}
.side-nav-bottom li:first-of-type{
    padding-top: 0.5rem;
}
 /* #endregion sidebar */


/* CONTENT */

.content{
    width:calc(100% - 220px);
}
/* #region header */
header{
    background-color: var(--clr-dark);
    width:100%;
    justify-content: flex-end;
    align-items: center;
}
header .btn{
    background-color: var(--clr-black);
    color:var(--clr-white);
    border:1px solid var(--clr-white);
    padding:0.5rem 1.5rem;
    border-radius: 1.25rem;
    margin-right:0.5rem;
}
/* #endregion header */



/* PLAYER */

 /* #region footer */
 .container-bottom{
    background-color: var(--clr-player);
 }
 /* #endregion footer */
